*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 4%);
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.main h2{
    font-size: 50px;
    color: brown;
    float: left;
    font-family: fantasy;
    cursor: pointer;
}
span{
    color: chocolate;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    margin-top: 70px;
}
.heading h1{
    cursor: pointer;
    font-size: 40px;
    color: darksalmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading p{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: darksalmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.card1{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card1 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card1 p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.card2{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card2 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card2 p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.card3{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card3 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card3 p{
    color: white;
    font-size: 20px;
    text-align: center;
}

#cards-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.card1{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card1 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card1 p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.card2{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card2 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card2 p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.card3{
    display: flex;
    flex-direction: column;
    border: 4px solid darksalmon;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card3 h3{
    color: chocolate;
    font-size: 30px;
    text-align: center;
}
.card3 p{
    color: white;
    font-size: 20px;
    text-align: center;
}